BRIDGE_HOST=0.0.0.0
BRIDGE_PORT=8080

GATEWAY_TCP_HOST=127.0.0.1
GATEWAY_TCP_PORT=9000

ADMIN_SERVICE_HOST=127.0.0.1
ADMIN_SERVICE_PORT=50057

CORS_ORIGIN=http://localhost:5173

LOG_LEVEL=info
HEARTBEAT_INTERVAL_MS=15000
GATEWAY_REQUEST_TIMEOUT_MS=5000

PROTO_DIR=../proto
